@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
:root[data-theme="light"] {
  --background-color: #e9e9e9;
  --surface-color-01: #f2f2f2;
  --surface-color-02: #fff;

  --text-color-01: #343434;
  --text-color-02: #535353;
  --box-shadow: -2px 2px 1px #cecece;
  --border-color: #d5d5d5;
}
:root[data-theme="dark"] {
  --background-color: #242424;
  --surface-color-01: #202020;
  --surface-color-02: #1A1A1A;

  --text-color-01: #f0f0f0;
  --text-color-02: #d0d0d0;

  --box-shadow: -1px 2px 5px #171717;
  --border-color: #282828;
}

body {
  background-color: var(--background-color);
  color: var(--text-color-01);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.solid:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
